baseURL = "https://redblue.ga/"
languageCode = "zh-cn"
title = "RedBlue | 赤琦 - 新时代，新青年 The Inspiration of RedBlue"
hasCJKLanguage = true

[taxonomies]

[menu]
    [[meanu.main]]
    identifier = "spirits"
    name = "博客"
    url = "/spirits/"
    
# add redirects/headers
[outputs]
home = ["HTML", "RSS", "REDIRECTS", "HEADERS"]

# remove .{ext} from text/netlify
[mediaTypes."text/netlify"]
suffix = ""
delimiter = ""

# add output format for netlify _redirects
[outputFormats.REDIRECTS]
mediatype = "text/netlify"
baseName = "_redirects"
isPlainText = true
notAlternative = true

# add output format for netlify _headers
[outputFormats.HEADERS]
mediatype = "text/netlify"
baseName = "_headers"
isPlainText = true
notAlternative = true
