baseURL = "https://redblue.fun/"
copyright = "Copyright © 2017 - 2019 RedBlue. All Rights Reserved."
googleAnalytics = "UA-123575709-1"
hasCJKLanguage = true
languageCode = "zh-cmn-Hans"
title = "RedBlue | 赤琦"

pygmentsCodefences = true
pygmentsCodefencesGuessSyntax = true
pygmentsOptions = "linenos=table"
pygmentsStyle = "fruity"

enableRobotsTXT = false
disableAliases = true

[params]
disallow_search_engines = true # set robots.txt to disallow everything

# add redirects/headers
[outputs]
home = ["HTML", "RSS", "REDIRECTS", "HEADERS", "Algolia"]

# remove .{ext} from text/netlify
[mediaTypes."text/netlify"]
suffixes = [""]
delimiter = ""

# add output format for netlify _redirects
[outputFormats.REDIRECTS]
mediatype = "text/netlify"
baseName = "_redirects"
isPlainText = true
notAlternative = true

# add output format for netlify _headers
[outputFormats.HEADERS]
mediatype = "text/netlify"
baseName = "_headers"
isPlainText = true
notAlternative = true

[taxonomies]
tags = "tags"
series = "series"

[outputFormats.Algolia]
baseName = "algolia"
isPlainText = true
mediaType = "application/json"
notAlternative = true

[params.algolia]
vars = ["title", "summary", "date", "publishdate", "expirydate", "permalink"]
params = ["currentsection", "content","info.name"]