baseURL = "https://redblue.ga/"
languageCode = "zh-cn"
title = "RedBlue | 赤琦 - 新时代，新青年 The Inspiration of RedBlue"
hasCJKLanguage = true
sectionPagesMenu = "main"
math = true
showTagCloud = false
tags = ["responsive", "white", "blog"]
features = ["responsive", "blog"]
[taxonomies]
tag = "tags"