baseURL = "https://redblue.netlify.com/"
copyright = "Copyright © 2017 - 2019 RedBlue. All Rights Reserved."
googleAnalytics = "UA-123575709-1"
hasCJKLanguage = true
languageCode = "zh-cmn-Hans"
title = "RedBlue | 赤琦"

pygmentsCodefences = true
pygmentsCodefencesGuessSyntax = true
pygmentsOptions = "linenos=table"
pygmentsStyle = "fruity"

enableRobotsTXT = false
disableAliases = true

assetDir = "static"

[params]
disallow_search_engines = true # set robots.txt to disallow everything

# add redirects/headers
[outputs]
home = ["HTML", "RSS", "REDIRECTS", "HEADERS"]

# remove .{ext} from text/netlify
[mediaTypes."text/netlify"]
suffixes = [""]
delimiter = ""

# add output format for netlify _redirects
[outputFormats.REDIRECTS]
mediatype = "text/netlify"
baseName = "_redirects"
isPlainText = true
notAlternative = true

# add output format for netlify _headers
[outputFormats.HEADERS]
mediatype = "text/netlify"
baseName = "_headers"
isPlainText = true
notAlternative = true

# bar
[[meanu.blog]]
identifier = "spirits"
name = "博客"
url = "/spirits"
[[meanu.repos]]
identifier = "repositories"
name = "仓库"
url = "/repositories"
[[meanu.orgs]]
identifier = "organizations"
name = "组织"
url = "/organizations"
[taxonomies]

# hugo version
[context.production.environment]
HUGO_VERSION = "0.54"
