<aside class="sticky-top float-md-right" id="blog-aside">
    <section>
        <div class="divider"><span></span><span><i class="fa fa-mortar-board"></i>目录</span><span></span></div>
    </section>
    {{- .TableOfContents -}}{{with .Params.series}} <div class="divider"><span></span><span>同系列</span><span></span></div>
    <section>
        {{range .}}<a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{.}} </a>
        <ul>
            {{- with $.Site.Taxonomies.series.Get . }}
            {{ range .Pages }}
            <li class="text-truncate"><a href="{{ .Permalink }}">{{.LinkTitle}}</a></li>
            {{ end }}
            {{ end -}}
        </ul>
        {{end}}
    </section>
    {{end}} <div class="divider"><span></span><span>分类</span><span></span></div>
    <ul class="list-unstyled">
        {{- range $key,$name := .CurrentSection.Parent.Sections.ByDate }}
        <li>
            <details>
                <summary>{{- if ne $.CurrentSection $name}}
                    {{$name.LinkTitle}}({{len $name.Pages}})
                    {{else}}<strong>{{$name.LinkTitle}}({{len $name.Pages}})</strong>{{end -}}
                </summary>
            </details>
            <div>
                <ul>
                    {{range first 5 $name.Pages}}
                    <li>
                        <a href="{{ .Permalink }}" title="{{.Title}}">{{.Title}}</a>
                    </li>
                    {{end}}
                </ul>
                <a href="{{$name.Permalink}}" title="{{$name.Title}}">更多关于此分类的文章</a>
            </div>
        </li>
        {{end -}}
    </ul>
    {{ with .PrevInSection }}{{ if . }}<div class="divider"><span></span><span>更多</span><span></span></div>
    <a href="{{ .Permalink }}" class="d-block" title="{{.Title}}">上一篇：{{.Title}}</a>{{ end }}{{ end }} {{ with.NextInSection }}{{ if . }}
    <a href="{{ .Permalink }}" class="d-block" title="{{.Title}}">下一篇：{{.Title}}</a>{{ end }}{{ end }}
</aside>
