{{ define "main" }}
<div class="container position-relative blog-list">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-end">
            <li>分类：</li>
            {{- range $key,$name:=.CurrentSection.Parent.Sections}} {{if ne $.CurrentSection $name}}
            <li class="breadcrumb-item">
                <a href="{{ $name.Permalink }}">{{$name.Title}}({{len $name.Pages}})</a>
            </li>
            {{else}}
            <li class="breadcrumb-item active" aria-current="page">{{ $name.Title}}({{len $name.Pages}})</li>
            {{end}} {{end -}}
        </ol>
    </nav>
    {{ range (.Paginator 10).Pages }}
    <div class="row border-bottom pd-1">
        <div class="col-md-6">
            <a href="{{.Permalink}}">
                <h5 class="text-truncate">{{.Title }} </h5>
                <time>{{- .Date.Format "02 Jan 2006" -}}</time>
                <span>by {{- .Param "info.name" -}}</span>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{{.Permalink}}">
                <p> {{.Summary}}</p>
            </a>
        </div>
    </div>
    {{end}}
</div>
{{ end }}