{{ define "main" }}
<div class="container position-relative">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-end">
      {{- range $key,$name:=.CurrentSection.Parent.Sections}} {{if ne $.CurrentSection $name}}
      <li class="breadcrumb-item">
        <a href="{{ $name.Permalink }}">{{$name.Title}}</a>
      </li>
      {{else}}
      <li class="breadcrumb-item active" aria-current="page">{{ $name.Title}}</li>
      {{end}} {{end -}}
    </ol>
  </nav>
  {{ range (.Paginator 10).Pages }}
  <ol>
      <dt>
          <a href="{{.Permalink}}">
              <h5 class="text-nowarp">{{.Title }}</a>
                  <hr>
          </h5>
      </dt>
      <dd>
          <a href="{{.Permalink}}">
              <p> {{.Summary}}</p>
          </a>
      </dd>
  </ol>
{{end}}
</div>
{{ end }}