{{ define "main"}}
<div class="container position-relative blog-list">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-end">
            <li class="breadcrumb-item active" aria-current="page">{{.Title}}</li>
            {{range .Sections}}
            <li class="breadcrumb-item">
                <a href="{{.Permalink }}">{{.Title}}</a>
            </li>
            {{end}}
        </ol>
    </nav>
    {{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" .Type) 10 }} {{- range $paginator.Pages}}
    <ol>
        <dt>
            <a href="{{.Permalink}}">
                <h5 class="text-nowarp">{{.Title }}</a>
            <hr>
            </h5>
        </dt>
        <dd>
            <a href="{{.Permalink}}">
                <p> {{.Summary}}</p>
            </a>
        </dd>
    </ol>
    {{end}} {{ template "_internal/pagination.html" . }}
</div>
{{ end }}