{{- define "main"}}
<div class="container position-relative blog-list">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-end">
            <li>分类：</li>
            {{- range .Sections.ByDate}}
            <li class="breadcrumb-item">
                <a href="{{.Permalink }}">{{.LinkTitle}}({{len .Pages}})</a>
            </li>
            {{end -}}
        </ol>
    </nav>
    <div class="row">
        <div class="timeline timeline-line-dotted">
            {{- $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" .Type) 10 -}} {{- range $paginator.Pages}}
            <span class="timeline-label">
                <span class="label label-info">{{- .Date.Format "02 Jan 2006" -}}</span>
            </span>
            <div class="timeline-item">
                <div class="timeline-point timeline-point-info">
                    <i class="fa fa-circle"></i>
                </div>
                <div class="timeline-event timeline-event-info">
                    <a href="{{.Permalink}}">
                        <div class="timeline-heading">
                            <h5><strong>{{.Title}}</strong></h5>
                        </div>
                        <div class="timeline-body">
                            {{- if eq .Description "" }}
                            <p>{{.Summary}}</p>
                            {{else}}
                            <p>{{.Description}}</p>
                            {{end -}}
                        </div>
                        <div class="timeline-footer">
                            {{- if eq (.Param "info.name") ""}}<p class="text-right">By&nbsp;赤琦</p>
                            {{else}}<p class="text-right">By&nbsp;{{- .Param "info.name" -}}</p>{{end -}}
                        </div>
                    </a>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{- template "_internal/pagination.html" . -}}
</div>
{{ end -}}