{{- define "main" }}
<main id="blog-single">
  <address>
    <table class="copyright">
      <tbody>
        <tr>
          {{- if .Page.Param "original"}}
          <td>协议</td>
          <td>
            遵照原文使用协议，详情查看原文出处。
          </td>
          {{else}}
          <td>协议</td>
          <td>采用
            <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="copyright">
              <i class="fa fa-cc"></i>知识共享署名 - 非商业性使用 - 相同方式共享4.0国际许可协议
            </a>
            进行许可
          </td>
          {{end -}}
        </tr>
        <tr>
          <td>原文</td>
          {{- if eq (.Page.Param "original") ""}}
          <td>{{$.Permalink}}</td>
          {{else}} {{if eq (.Page.Param "original") "来自互联网"}}
          <td><a>{{- .Page.Param "original"}}</a></td>
          {{else}}
          <td><a href='{{.Page.Param "original"}}' target="_blank" rel="copyright">{{.Page.Param "original"}}</a></td>
          {{end -}} {{end -}}
        </tr>
        <tr>
          <td>作者</td>
          <td>{{.Page.Param "author"}}</td>
        </tr>
      </tbody>
    </table>
  </address>
  <div class="divider d-none d-md-block"><span></span><span>正文</span><span></span></div>
  <article id="blog-article">
    {{- .Content -}}
    <p>（完）</p>
  </article>
  <script src="https://utteranc.es/client.js" repo="redblue9771/comments-for-redblue" issue-term="url" label="comment" theme="github-light" crossorigin="anonymous" async></script>
</main>
{{- template "spirits/aside.html" . -}}
{{ end -}}
