/**
css for redblue
ver 1.0.0
 */
html, body {
    height: 100%;
    overflow-x: hidden;
    background-color: #fff !important;;
    font-weight:460;
}

hr {
    width: 100%;
}

p{
    line-height:1.8em;
}


article h1, article h2,article h3,article h4,article h5,article h6 {
      font-weight:bold;
      margin:1.4em 0 .6em 0;
}

article h1::before, article h2::before,article h3::before,article h4::before,article h5::before,article h6::before {
    display: block;
    content: " ";
    height: 2em;
    margin-top: -2em;
    visibility: hidden;
}

.list-item:hover img {
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
    box-shadow: 0 1em 2em -1em rgba(0, 120, 215, .35);
}

.list-item a {
    text-decoration: none;
    color: #333;
}

pre {
    background-color: #24292e;
    color: #ffffff;
    padding:.6em 1em;
}

blockquote {
    padding-left: 1em;
    margin: 1em;
    font-weight: 400;
    border-left: 4px solid #ff5555;
}

.main-nav{
    font-weight:bold;
    background: linear-gradient(to bottom, #448AFF 0%, transparent);
}

.main-nav a{
   transition: all 0.3s;
      color:#fff!important;
}

.main-nav a:hover{
      color:#f44336!important;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.head {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #448AFF 70%, #2196f3);
    color: #fff;
    position: relative;
}

.head-shape {
    width: 120%;
    height: 100%;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    bottom: -100%;
    left: 0;
}

.shadow {
    width: 100%;
    height: 50vh;
    box-shadow: 0 12px 45px -8px #2196f3;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    background:#2196f3;
}

.head-info {
    text-align: right;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: fixed;
    top: 80px;
    right: calc(50% + 550px);
    z-index: 1;
    color: #fff;
    font-size: 1.4rem;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    text-shadow: 0 0 2px #448AFF;
}

.header {
    padding: 6rem 2rem 8rem 2rem;
}

.display-1 {
    font-weight: 500 !important;
    margin-bottom:1.6rem;
}

.header time {
    font-size: 2rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2em;
    color: inherit;
}

.header span{
    font-size: 1.2rem;
}

.head-go {
    width: 1em;
    height: auto;
    position: fixed;
    top: 100px;
    left: calc(50% + 512px);
    text-shadow: 0 0 2px #09a2ce;
    z-index: 1;
}

.main-area {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.img-filter {
  -webkit-filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.1));
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.1));
    transition: all .4s;
}

.img-shadow:hover {
    -webkit-filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.1)) brightness(105%);
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.1)) brightness(105%); 
}


.list-item img {
    margin: 1em 0 !important;
}

.copyright {
    width: 100%;
    border-left: 4px solid #00F7DE;
    color: #6c757d;

}

.copyright tr td:first-child {
    white-space: nowrap;
    padding: 0 .4em;
    font-weight: 600;
}

.single-post {
    display: inline-block;
    width: 80%;
    padding: 1em;
}

aside {
    display: block;
    width: 20%;
    padding: 0 1em;
    top: 10% !important;
    float: right;
}

nav#TableOfContents, nav#TableOfContents ul, nav#TableOfContents li, nav#TableOfContents a {
    color: #333333 !important;
    margin: 0;
    padding: 0;
 
}
nav#TableOfContents ul{
   list-style-type:none;
}
nav#TableOfContents ul li ul li{
    padding-left:.6em;
    border-left:2px solid #777;
}

.floor-shape {
    width: 120%;
    height: 100%;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    background-color: #fff;
    position: absolute;
    top: -100%;
    left: -20%;
}

.floor {
    text-align: center;
    background: linear-gradient(to top, #F44336 30%, #FF5252);
    overflow: hidden;
    position: relative;
    color: #ffffff;
    padding: 4em 1em;
}

.floor-info {
    margin-top: 4%;
}

.row{
    margin:0;
    padding: 0;
}

.blog-list p {
    height: 3.6em;
    overflow: hidden;
    color: #333 !important;
}

.blog-list h5 {
    font-weight: bold;
}

.pagination {
    justify-content: center;
    margin: 1em 0;
}

.list-group-item{
    background-color: transparent!important;
}

.breadcrumb{
background:none;
}

@media (max-width: 1199.98px) {
    .single-post {
        width: 100% !important;
    }

    aside {
        width:100%;
    }
}


@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
    .header {
        padding: 4rem 2rem 4rem 2rem;
    }
    .single-post {
       margin-top:2em;
    }

    .blog-list img {
        width: 100%;
    }

    .blog-list .row .col-md-6:last-child a{
        position: inherit;
        top:auto;
        transform: none;
    }

    .display-1 {
        font-size: 4rem ;
    }


}



@media (max-width: 575.98px) {

    .display-1 {
        font-size: 3rem;
    }
}





