
/**
css for redblue
ver 1.0.0
 */

 html, body {
    background-color: #fff !important;;
    font-weight:460;
}

hr {
    width: 100%;
}

p{
    line-height:1.8em;
}


article h1, article h2,article h3,article h4,article h5,article h6 {
    font-weight:bold;
    margin:1.4em 0 .6em 0;
}

article h1::before, article h2::before,article h3::before,article h4::before,article h5::before,article h6::before {
    display: block;
    content: " ";
    height: 2em;
    margin-top: -2em;
    visibility: hidden;
}

.list-item:hover img {
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
    box-shadow: 0 1em 2em -1em rgba(0, 120, 215, .35);
}

.list-item a {
    text-decoration: none;
    color: #333;
}

pre {
    background-color: #24292e;
    color: #ffffff;
    padding:.6em 1em;
}

blockquote {
    padding-left: 1em;
    margin: 1em;
    font-weight: 400;
    border-left: 4px solid #ff5555;
}

.main-nav{
    font-weight:bold;
    background: linear-gradient(to bottom, #448AFF 0%, transparent);
}

.main-nav a{
    transition: all 0.3s;
    color:#fff!important;
}

.main-nav a:hover{
    color:#f44336!important;
}

.container-fluid,.container,.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0;
    margin: 0;
}

.head {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #448AFF 0%, #2196f3); 
    color: #fff;
    position: relative;
    overflow: hidden;
}

.head-shape {
    width: 120%;
    height: 100%;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    bottom: calc(-100% + 44px);
    left: 0;
}

.shadow {
    width: 100%;
    height:10%;
    -webkit-filter: drop-shadow( 0 0 20px #2196f3);
    filter: drop-shadow(  0 0 20px #2196f3);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    background:#2196f3;
}

.head-info {
    text-align: right;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: fixed;
    top: 80px;
    right: calc(50% + 550px);
    z-index: 1;
    color: #fff;
    font-size: 1.4rem;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    text-shadow: 0 0 2px #448AFF;
}

img{
    max-width: 100%;
}

.header {
    padding: 6rem 2rem 10rem 2rem;
}

.display-1 {
    font-weight: normal;
    margin-bottom: 1.4rem;
}

.header time,.header h2 {
    font-size: 2.4rem;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.2em;
    color: inherit;
}

.header span{
    font-size: 1.4rem;
    font-weight: normal;
}

.head-go {
    width: 1em;
    height: auto;
    position: fixed;
    top: 100px;
    left: calc(50% + 530px);
    text-shadow: 0 0 2px #09a2ce;
    z-index: 1;
}

.main-area {
    max-width: 1024px;
    margin: -2rem auto 0 auto;
    padding: 1rem;
    position: relative;
}

.img-filter {
    -webkit-filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.1));
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.1));
    transition: all .4s;
}

.img-shadow:hover {
    -webkit-filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.1)) brightness(105%);
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.1)) brightness(105%);
}


.copyright {
    width: 100%;
    border-left: 4px solid #00F7DE;
    color: #6c757d;

}

.copyright tr td:first-child {
    white-space: nowrap;
    padding: 0 .4em;
    font-weight: 600;
}

.single-post {
    display: inline-block;
    width: 80%;
}

aside {
    display: block;
    width: 20%;
    padding: 0 1rem;
    top: 10% !important;
    float: right;
}

nav#TableOfContents, nav#TableOfContents ul, nav#TableOfContents li, nav#TableOfContents a {
    color: #333333 !important;
    margin: 0;
    padding: 0;

}
nav#TableOfContents ul{
    list-style-type:none;
}
nav#TableOfContents ul li ul li{
    padding-left:.6em;
    border-left:2px solid #777;
}

.floor-shape {
    width: 120%;
    height: 100%;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    background-color: #fff;
    position: absolute;
    top: -100%;
    left: -20%;
    -webkit-filter: drop-shadow( 0 0 16px rgba(33,150,243,.5));
    filter: drop-shadow(  0 0 16px rgba(33,150,243,.5));
}

.floor {
    text-align: center;
    background: linear-gradient(to bottom, #F44336 30%, #FF5252);
    overflow: hidden;
    position: relative;
    color: #ffffff;
    padding: 4em 1em;
}

.floor-info {
    margin-top: 4%;
}

.row{
    margin:0;
    padding: 0;
}

.blog-list p {
    color: #333;
}


.blog-list a {
    text-decoration: none;
}


.blog-list h5 {
    font-weight: bold;
}

.pagination {
    justify-content: center;
    margin: 1em 0;
    -webkit-filter: drop-shadow( 0 0 4px #2196f3);
    filter: drop-shadow(  0 0 4px #2196f3);
}

.list-group-item{
    background-color: transparent!important;
}

.breadcrumb{
    background:none;
}

.blog-list .row{
    margin-top: 1rem;
}

.blog-list div.border-bottom:last-of-type{
    border-bottom: 0 !important;
}

.pd-1{
    padding: 1rem;
}

.index-module-1{
    color: #fff;
    background:url("/img/bg-1.jpeg") center no-repeat fixed;
    background-size: cover;
    margin-bottom: 4rem;
    padding-top: 2rem;
}

.index-module-1 .row{
    -webkit-transform: translate3D(0,4rem,0);
    transform:translate3D(0,4rem,0);
}

.carousel img{
    -webkit-filter: drop-shadow( 0 0 6px #2196f3);
    filter: drop-shadow(  0 0 6px #2196f3);
}

.div-shadow{
    -webkit-filter: drop-shadow( 0 0 6px #333);
    filter: drop-shadow(  0 0 6px #333);
}

.carousel font{
    color:#333;
    font-weight: bold;
}

.bg-color-red{
    -webkit-filter: drop-shadow( 0 0 6px #f44336);
    filter: drop-shadow(  0 0 6px #f44336);
    background-color: #f44336;
    color:#fff;
}

.bg-color-blue{
    -webkit-filter: drop-shadow( 0 0 6px #2196f3);
    filter: drop-shadow(  0 0 6px #2196f3);
    background-color: #2196f3;
    color:#fff;
}

.bg-color-white{
    -webkit-filter: drop-shadow( 0 0 6px #f2f2f2);
    filter: drop-shadow(  0 0 6px #f2f2f2);
    background-color: #f2f2f2;
    color:#000;
}

.index-module-1 .row .col-md-4 dl dd a{
    color:#f2f2f2;
    text-decoration: none;
}
.index-module-1 .row .col-md-4:nth-of-type(2) dl dd a{
    color:#333;
}

.index-module-1 .row .col-md-4 dl dd time{
    opacity: 0.7;
}

.limit-area{
    max-width: 1024px;
    margin: 0 auto;
}

.trans-img{
    display:block;
    max-width:100%;
    margin: 0 auto
}

@media (max-width: 1199.98px) {
    .single-post {
        width: 100% !important;
    }

    aside {
        width:100%;
    }
}


@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
    .header {
        padding: 5rem 2rem 6rem 2rem;
    }

    .display-1 {
        font-size: 4rem ;
    }
    .carousel img{
        -webkit-filter: drop-shadow( 0 0 6px #2196f3) blur(2px);
        filter: drop-shadow(  0 0 6px #2196f3) blur(2px) ;
    }
    .carousel font{
        color:#f44336;
        text-shadow: 1px 1px 2px #fff;
    }
    

}



@media (max-width: 575.98px) {
    .trans-img{
        width: 70%;
    }

    .header span{
        font-size: 1rem;
    }

    .header h2,.header time{
        font-size: 1.8rem;
    }

    .display-1 {
        font-size: 3.2rem;
    }
}