<!DOCTYPE html>
<html lang="zh">

<head>{{ partial "header.html" . }}
    {{block "style" .}}{{end}}
</head>
<body>
    {{- partial "nav.html" . -}}
    <div class="head">
        <div style="max-width: 1024px;margin: 0 auto;">
            <div class="head-info d-none d-lg-block">
                RedBlue丨赤琦
                <br/>The Inspiration of RedBlue
            </div>
            <header class="header">
                {{- partial "head.html" . -}}
            </header>
            <div class="head-go d-none d-lg-block">
                <a href="#" title="去顶部"><i class="fa fa-arrow-up"></i></a>
                <a href="#fl" title="去底部"><i class="fa fa-arrow-down"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid main-area">
        {{ block "main" . }}{{ end }}
    </div>
    <div class="container-fluid floor" id="fl">
        <footer class="floor-info">
            {{ partial "footer.html" . }}
        </footer>
    </div>
    </div>
    {{ partial "scripts.html" . }}
</body>

</html>