<!DOCTYPE html>
<html lang="zh">

<head>{{ partial "header.html" . }}
    {{block "style" .}}{{end}}
    {{if .IsHome}}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
    {{end}}
</head>
<body>
    {{- partial "nav.html" . -}}
    <div class="head">
        <div style="max-width: 1024px;margin: 0 auto;">
            <div class="head-info">
                <!--{{.Title}}-->
                RedBlue丨赤琦
                <br/>The Inspiration of RedBlue
            </div>
            <header class="header">
                {{- partial "head.html" . -}}
            </header>
            <div class="head-go">
                去底部
            </div>
        </div>
    </div>
    <div class="container-fluid main-area">
        {{ block "main" . }}{{ end }}
    </div>
    <div class="container-fluid floor ">
        <footer class="floor-info">
            {{ partial "footer.html" . }}
        </footer>
    </div>
    </div>
    {{ partial "scripts.html" . }}
</body>

</html>