{{ define "main" }}
<div class="container position-relative">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-end">
      {{- range $key,$name:=.CurrentSection.Parent.Sections}} {{if ne $.CurrentSection $name}}
      <li class="breadcrumb-item">
        <a href="{{ $name.Permalink }}">{{$name.Title}}</a>
      </li>
      {{else}}
      <li class="breadcrumb-item active" aria-current="page">{{ $name.Title}}</li>
      {{end}} {{end -}}
    </ol>
  </nav>
  {{ range (.Paginator 10).Pages }}
  <div class="row blog-list-item">
    <div class="col-md-6 clearfix">
      <a href="{{.Permalink}}">
        <time>{{ .Date.Format "2006-01-02 " }}</time>
        <img src="{{ .Param " info.cover "}} " title="{{ .Title}} " class="img-filter ">
      </a>
    </div>
    <div class="col-md-6 float-md-right ">
      <a href="{{ .Permalink | relURL }} ">
        <h5 class="text-truncate ">{{.Title }}</h5>
        <p> {{.Summary}}</p>
      </a>
    </div>
  </div>
  {{end}}
</div>
{{ end }}