{{- define "main"}}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-end">
            <li class="breadcrumb-item active" aria-current="page">{{.Title}}</li>
            {{range .Sections}}
            <li class="breadcrumb-item">
                <a href="{{.Permalink }}">{{.Title}}</a>
            </li>
            {{end}}
        </ol>
    </nav>
    {{- $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" .Type) 10 -}} {{- range $paginator.Pages}}
    <div class="row">
        <div class="col-md-6 clearfix">
            <a href="{{.Permalink}}">
                <time>{{ .Date.Format "2006-01-02" }}</time>
                <img src="{{ .Param " info.cover "}}" title="{{ .Title}}" class="img-filter">
            </a>
        </div>
        <div class="col-md-6 float-md-right">
            <a href="{{.Permalink}}">
                <h5 class="text-truncate">{{.Title }}</h5>
                <p> {{.Summary}}</p>
            </a>
        </div>
    </div>
    {{end}} {{ template "_internal/pagination.html" . }}
</div>
{{ end -}}