 {{define "main"}}
<div class="col-md-12">
    <div class="row">
        <h3 style="margin-bottom:1em;">
            <a href="https://github.com/redblue9771"><i class="fa fa-tags"></i> Repositories</a>
        </h3>
        <div class="timeline timeline-single-column" id="github-list">
            <div class="timeline-item">
               <div class="timeline-point timeline-point-info">
                   <i class="fa fa-star"></i>
                 </div>
                <div class="timeline-event timeline-event-info">
                     <div class="timeline-heading">
                        <h5><strong><i class="fa fa-spinner fa-pulse"></i> 从 github.com 拉取中…</strong></h5>
                     </div>
                    <div class="timeline-body">
                         <p><i class="fa fa-spinner fa-pulse"></i> 从 github.com 拉取中…</p>
                     </div>
               </div>
            </div>
        </div>
    </div>
</div>
{{end}}