 {{define "main"}}
<div class="col-md-12">
    <div class="row">
        <h2>
            <a href="https://github.com/redblue9771">Repositories</a>
        </h2>
        <div class="timeline timeline-single-column" id="github-list">
            <div class="timeline-item">
               <div class="timeline-point timeline-point-info">
                   <i class="fa fa-star"></i>
                 </div>
                <div class="timeline-event timeline-event-info">
                     <div class="timeline-heading">
                        <h5><strong>加载中……</strong></h5>
                     </div>
                    <div class="timeline-body">
                         <p>加载中……</p>
                     </div>
               </div>
            </div>
        </div>
    </div>
</div>
{{end}}