<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {{- range $key,$name:=( where .Site.RegularPages.ByDate.Reverse "Type" "slider") }} {{if ne $key 0}}
        <div class="carousel-item">
            <a href="{{$name.Description}}" target="_blank">
                <img class="d-block w-100" alt="" src="{{$name.LinkTitle}}">
                <div class="carousel-caption d-block">
                    <h4>
                        <font style="vertical-align: inherit;">{{$name.Title}}</font>
                    </h4>
                    <p>
                        <font style="vertical-align: inherit;">{{$name.Content}}</font>
                    </p>
                </div>
            </a>
        </div>
        {{else}}
        <div class="carousel-item active">
            <a href="{{$name.Description}}" target="_blank">
                <img class="d-block w-100" alt="" src="{{$name.LinkTitle}}">
                <div class="carousel-caption d-block">
                    <h4>
                        <font style="vertical-align: inherit;">{{$name.Title}}</font>
                    </h4>
                    <p>
                        <font style="vertical-align: inherit;">{{$name.Content}}</font>
                    </p>
                </div>
            </a>
        </div>
        {{end}} {{end -}}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>