<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
            <div class="carousel-item">
                    <a href="https://www.icourse163.org/" target="_blank">
                        <img class="d-block w-100" alt="" src="/img/slider-1.png">
                        <div class="carousel-caption d-block">
                            <h5>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">中国大学MOOC</font>
                                </font>
                            </h5>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">即便错过心仪的大学，也不要错过中国大学MOOC
                                        <br>让每一个有提升愿望的用户能够学到中国知名高校的课程</font>
                                </font>
                            </p>
                        </div>
                    </a>
                </div>
        <div class="carousel-item">
                <a href="https://www.infoq.com/cn/" target="_blank">
            <img class="d-block w-100" alt="" src="/img/slider-3.png">
            <div class="carousel-caption d-block">
                <h5>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Info Q</font>
                    </font>
                </h5>
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">促进软件开发领域知识与创新的传播</font>
                    </font>
                </p>
            </div>
        </div>
        <div class="carousel-item active">
            <a href="http://www.dpm.org.cn" target="_blank">
                <img class="d-block w-100" alt="" src="/img/slider-0.png">
                <div class="carousel-caption d-block">
                    <h4>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">故宫博物馆</font>
                        </font>
                    </h4>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">每个中国人的宝藏，故宫博物院绝无仅有的独特藏品，是世界上规模最大、保存最完整的紫禁城木结构宫殿建筑群。</font>
                        </font>
                    </p>
                </div>
            </a>
        </div>

        <div class="carousel-item">
            <a href="https://www.nowness.cn/" target="_blank">
                <img class="d-block w-100" alt="" src="/img/slider-2.png">
                <div class="carousel-caption d-block">
                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">NOWNESS</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">与香港「号外」杂志同司，新时代的国际艺术创意短片平台</font>
                        </font>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>