<div class="container-fluid fixed-top main-nav">
      <nav class="navbar navbar-expand-md mx-auto">
            <a class="navbar-brand" href="{{.Site.BaseURL}}">RedBlue|赤琦</a>
            <a class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa fa-navicon fa-fw"></i>
            </a>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                  <div class="navbar-nav nav-justified ml-auto">
                        <a class="nav-item nav-link text-nowrap active" href='{{ .Site.BaseURL}}'><i class="fa fa-television fa-fw"></i>
                              主页</a>
                        <a class="nav-item nav-link text-nowrap" href='{{ .Site.BaseURL}}spirits/'><i class="fa fa-language fa-fw"></i>
                              </i> 博客</a>
                        <a class="nav-item nav-link text-nowrap" href='{{ .Site.BaseURL}}repositories/'><i class="fa fa-code fa-fw"></i>
                              项目</a>
                  </div>
            </div>
      </nav>
</div>