<div class="container-fluid fixed-top main-nav">
      <nav class="navbar navbar-expand-md mx-auto">
            <a class="navbar-brand text-truncate" href="{{.Site.BaseURL}}" id="main-title">{{.Site.Title}}</a>
            <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
                  <span class="fa fa-navicon"></span>
            </a>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                  <div class="navbar-nav nav-justified ml-auto">
                        <a class="nav-item nav-link text-nowrap" href="{{ .Site.BaseURL }}">&nbsp;/ 主页 /&nbsp;</a>
                        <a class="nav-item nav-link text-nowrap" href="{{ .Site.BaseURL }}spirits/">&nbsp;/ 博客 /&nbsp;</a>
                        <a class="nav-item nav-link text-nowrap" href="{{ .Site.BaseURL }}repositories/">&nbsp;/ 项目 /&nbsp;</a>
                        <a class="nav-item nav-link text-nowrap" href="https://status.redblue.fun" target="_blank">&nbsp;/ 状态 /&nbsp;</a>
                        <!-- <a class="nav-item nav-link text-nowrap" href="{{ .Site.BaseURL }}organizations/"><i class="fa fa-code fa-fw"></i> 组织</a> -->
                  </div>
            </div>
      </nav>
</div>
