{{- define "main"}}
<section>
    {{ range .Pages.GroupByDate "2006.01" }}
    <h4>{{ .Key }}</h4>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <p>{{.Summary}}…</p>
            <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}
                {{ range .Params.tags }}
                <a href="{{ "tags" | absURL }}/{{ . | urlize }}" rel="bookmark">#{{.}}</a>
                {{ end }}
            </div>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</section>
{{end -}}
