{{- define "main"}}
<section>
    <ul class="breadcrumb justify-content-end">
        <a href="/{{.Data.Plural}}/" rel="bookmark"><i class="fa fa-arrow-circle-left"></i> 所有{{.Data.Plural}}</a></li>
    </ul>
    {{ range .Pages.GroupByDate "2006.01" }}
    <h4>{{ .Key }}</h4>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <div>{{.Summary}}…</div>
            <p class="meta tags">
                <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
                {{ range .Params.tags }}
                <a href="{{ "tags" | absURL }}/{{ . | urlize }}" rel="bookmark">#{{.}}</a>
                {{ end }}
            </p>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</section>
{{end -}}
