{{- define "main" }}
<section>
  {{ range $key,$value := .Site.Data.libraries }}
  <h3>{{ $key }}</h3>
  <ul>
    {{ range $value}}
    <li id="{{.name}}" class="clearfix mb-3">
      <div>《 {{.name}} 》- {{.author}}</div>
      {{if ne .description ""}}
      <div>简述：{{.description}}</div>
      {{end}}
      <div class="tags mb-3">标签：{{range $k,$v:=.tag}}<a rel="bookmark">#{{$v}}</a>{{end}}</div>
      <a class="btn btn-outline-primary float-right btn-sm" href="/libraries/{{.path}}" target="_blank" rel="contents">Download / Read</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</section>
{{ end -}}